<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>Login - HeartLeaf</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 

    <link href="{{ static('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static('css/bootstrap-responsive.min.css') }}" rel="stylesheet">    

    <link href="{{ static('css/font-awesome.css') }}" rel="stylesheet"> 
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    <link href="{{ static('css/style.css') }}" rel="stylesheet">
    <link href="{{ static('css/pages/signin.css') }}" rel="stylesheet">    
    <link href="{{ static('css/pages/dashboard.css') }}" rel="stylesheet"> 
    <img src="{{ static('img/company.jpg') }}" alt="Company Logo">
</head>

<body>  
  <div class="navbar navbar-fixed-top">
  
    <div class="navbar-inner">
    
      <div class="container">
        
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <a class="brand" href="/heartleaf/receipts/">
          HeartLeaf Receipt      
        </a>    
        
        <div class="nav-collapse">
          <ul class="nav pull-right">
            
            <li class=""><a href="/heartleaf/accounts/signup" class="">Don't have an account?</a></li>
            
            <li class="">           
              <a href="/heartleaf/receipts/" class="">
                <i class="icon-chevron-left"></i>
                Back to Homepage
              </a>            
            </li>
          </ul>          
        </div><!--/.nav-collapse -->     
      </div> <!-- /container -->    
    </div> <!-- /navbar-inner -->  
  </div> <!-- /navbar -->
  <div class="container">

    <!-- child template -->
    {% block content %}{% endblock %}

    <!-- errors -->
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <!-- messages -->
  </div>
<!-- /main -->
<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
        <div class="span3">
            <h4>
                About Free Admin Template</h4>
            <ul>
                <li><a href="javascript:;">EGrappler.com</a></li>
                <li><a href="javascript:;">Web Development Resources</a></li>
                <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>
                <li><a href="javascript:;">Free Resources and Scripts</a></li>
            </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
            <h4>
                Support</h4>
            <ul>
                <li><a href="javascript:;">Frequently Asked Questions</a></li>
                <li><a href="javascript:;">Ask a Question</a></li>
                <li><a href="javascript:;">Video Tutorial</a></li>
                <li><a href="javascript:;">Feedback</a></li>
            </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
            <h4>
                Something Legal</h4>
            <ul>
                <li><a href="javascript:;">Read License</a></li>
                <li><a href="javascript:;">Terms of Use</a></li>
                <li><a href="javascript:;">Privacy Policy</a></li>
            </ul>
        </div>
        <!-- /span3 -->
        <div class="span3">
            <h4>
                Open Source jQuery Plugins</h4>
            <ul>
                <li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>
                <li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>
                <li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>
                <li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>
            </ul>
        </div>
        <!-- /span3 -->
    </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /extra-inner --> 
</div>  
  <!-- /extra -->
  <div class="footer">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="span12"> &copy; 2016 <a href="http://www.google.com/">Heart Leaf </a></div>
          <!-- /span12 --> 
        </div>
        <!-- /row --> 
      </div>
      <!-- /container --> 
    </div>
    <!-- /footer-inner --> 
  </div>
  <!-- /footer -->   
</body>
</html>